<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <style>
            div.container {
                width: 98%;
                margin: 1%;
            }

            #customers {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: ;
                width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            #customers td,
            #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #customers tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #customers tr:hover {
                background-color: #ADD8E6;
            }

            #customers th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #3498DB;
                color: white;
            }
        </style>
    </head>
    <header>
        <table>
            <tr>
                <td><img src={Routes.static_path(@socket, "/images/phoenix.png")} alt="Phoenix Framework Logo"/></td>
                <td>
                    <form phx-submit="extend">
                        <input type="number" min="1" max="100" value="10" name= "extend" />
                        <button>Extend slots</button>
                    </form>
                </td>
            </tr>
        </table>
    </header>
    <body>
        <table id="customers">
            <thead>
                <tr>
                    <th>Slot no</th>
                    <th>Registration number</th>
                    <th>Vehicle color</th>
                    <th>Operations</th>
                    <th style="width:5px" >Ops</th>
                </tr>
            </thead>
            <tbody>
                <%= for slot <- @status do %>
                    <tr>
                        <form phx-submit="park">
                            <td><p><%= slot.id %></p></td>
                            <%= if Map.has_key?(slot, :registration_no) do %>
                                <td><p><%= slot.registration_no %></p></td>
                                <td><p><%= slot.color %></p></td>
                                <td><input type="button" value="Leave Now" phx-value-id={slot.id} phx-click="leave" /></td>
                                <td><p><%= get_datetime(slot.entry_time) %></p></td>
                            <%= else %>
                                <td><input type="text" name="reg_no" placeholder="Enter vehicle registration number" required></td>
                                <td><input type="text" name="vehicle_color" placeholder="Enter vehicle color" required></td>
                                <td><button>Park your vehicle</button></td>
                                <td>
                                    <svg  xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" name ="delete" phx-click="delete_slot"  phx-value-slot_id={slot.id}>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </td>
                            <%= end %>
                        </form>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </body>
</html>
